.overlay {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.overlayButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    height: 30px;
    padding: 0 10px;
    border: 0;
    color: #fff;
    font-size: 14px;
    background: rgb(83, 83, 83);
    border-radius: 3px;
}

.upload {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    display: flex;
}

.remove {
    border: 0;
    color: #fff;
    font-size: 14px;
    background: rgb(83, 83, 83);
    border-radius: 3px;
    margin-left: 10px;
    width: 50px;
}