.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    // align-items: space-between;
}

.bodyUi {
    display: flex;
    flex-direction: column;
    flex: 1;

    textarea, input {
        border-radius: 5px;
        border: 1px solid #6C63FF;
        background: #E7E5FF;
        padding: 10px;
        margin: 15px 0;
    }
    textarea {
        height: 10vh;
    }
}

.text {
    font-family: 'Fira Sans';
    text-align: left;
    display: flex;
    font-weight: 300;
    align-items: center;
    flex: 0.3;
    margin: 50px auto;
    font-size: 16px;
}

label {
    text-align: left;
    font-size: 18px;
}