.rInput {
    background: #F4F5F7;
    border: none;
    padding: 15px 15px 13px 15px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    outline: 0;
}

.rInput:focus {
    background: rgb(243, 243, 243);
}