.container {
    width: 80vw;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 15px 0;
}

.item:last-child {
    border: none;
}