.form {
    textarea, input, button {
        margin: 0;
    }
}

.formGroup {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;

    &Title {
        text-align: left;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .errorMessage {
        color: rgb(204, 33, 33);
        font-size: 12px;
    }
    
    .errorMessageBottom {
        position: absolute;
        bottom: 0;
        margin-bottom: -17px;
    }

    label {
    }
}

.hidden {
    display: none;
}